h1.brand {
    color:white;
}

td.brand {
    background-color: darkorange;
}

td.menu {
    background-color: green;
    color: white;
}

input.form {
    width: 300;
    display: block;
    margin: 10px;
    padding: 5px;
}